.edit-section {
    position: fixed;
    width: 40%;
    left: 0;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
}

.list-view {
    margin-left: 40%;
    width: 60%;
    height: 100%;
    margin-top: 0;
}

.list-view .table-header {
    position: fixed;
    overflow: hidden;
    height: 25%;
    width: inherit;
}

.list-view .table-container {
    position: fixed;
    overflow-y: scroll;
    margin: 0;
    height: 85%;
    bottom: 0%;
    width: inherit;
}

h1,
tr,
th,
td {
    margin: 0;
    text-align: center;
}

.list-view h1 {
    top: -20;
}

.table-header {
    text-align: center;
}

thead tr {
    background: #1A1B1B;
}

tr:hover {
    cursor: pointer;
    background: #3c4148 !important;
}


/*thead tr:hover {}*/

tr.selected {
    background: #61666d !important;
    /*Two colours for table*/
    /*#353a41*/
    /*#2e3338*/
}

html {
    overflow: scroll;
    overflow-x: hidden;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    background: transparent;
    /* optional: just make scrollbar invisible */
}


/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #333333;
}

.login-user-button {
    position: relative;
    top: 0;
    float: right;
}

h1 {
    text-align: center;
}

.login-form {
    margin: 20px;
}

.login-form-container {
    position: absolute;
    margin: 20px auto;
    left: 30%;
    width: 40%;
}

.login-form-button {
    margin-top: 5px;
}

.login-form input {
    margin: 10px 0;
}

@media only screen and (min-width: 1048px) {
    .login-form-button {
        position: absolute;
        left: 35%;
        width: 30%;
    }
}

@media only screen and (max-width: 1048px) {
    .login-form-button {
        width: 100%;
    }
}

.link:hover {
    color: #cfcfcf;
    cursor: pointer;
}

.link {
    color: #7a7a7a;
    margin: 5px 10px;
}

.register-link {
    position: absolute;
    right: 0;
    margin: 0 20px;
    bottom: -5px;
}