<div class="container-fluid">
    <h1 style="text-align: center">New Body Part</h1>
    <form name='new-muslce-form' ng-submit='createBodyPart(newBodyPart)'>
        <swp-messaging></swp-messaging>
        <br/>
        <br/>
        <input type='text' ng-model='newBodyPart.bodyPartName' class='form-control' placeholder='Body Part...' />
        <!--md-transform-chip="ctrl.transformChip($chip)" -->
        <md-chips ng-model="selectedMuscles" md-autocomplete-snap md-require-match="true" >
            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in getMuscles(searchText)" md-item-text="item.muscleName" placeholder="Search for muscles..." >
                <span md-highlight-text="searchText">{{item.muscleName}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>
                    {{$chip.muscleName}}
                </span>
            </md-chip-template>
        </md-chips>
        </br>

        <input type="submit" class="btn btn-primary col-xs-offset-4 col-xs-4" style="text-align: center">
        </forms>
</div>